@model IEnumerable<BasketVM>

<div class="row">
    <div class="col-lg-12">
        <div class="cart-table table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="pro-thumbnail">Thumbnail</th>
                        <th class="pro-title">Product</th>
                        <th class="pro-price">Price</th>
                        <th class="pro-quantity">Quantity</th>
                        <th class="pro-subtotal">Total</th>
                        <th class="pro-remove">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (BasketVM basketVM in Model)
                    {
                        <tr>
                            <td class="pro-thumbnail">
                                <a asp-controller="Product" asp-action="Details" asp-route-id="@basketVM.Id">
                                    <img class="img-fluid" src="~/assets/img/product/@basketVM.Image" alt="Product" />
                                </a>
                            </td>
                            <td class="pro-title">
                                <a asp-controller="Product" asp-action="Details" asp-route-id="@basketVM.Id">@basketVM.Title</a>
                            </td>
                            <td class="pro-price"><span>$@(basketVM.Price.ToString("0.00"))</span></td>
                            <td class="quantity">
                                <div class="pro-qty">
                                    <span class="qtybtn">-</span>
                                    <input data-id="@basketVM.Id" value="@basketVM.Count" readonly />
                                    <span class="inc qtybtn">+</span>
                                </div>
                            </td>
                            <td class="pro-subtotal"><span>@((basketVM.Price * basketVM.Count).ToString("0.00"))</span></td>
                            <td class="pro-remove">
                                <a class="minicart-remove" asp-controller="Basket" asp-action="RemoveBasket" asp-route-id="@basketVM.Id">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-5 ml-auto">
        <div class="cart-calculator-wrapper">
            <div class="cart-calculate-items">
                <h3>Cart Totals</h3>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <td>Sub Total</td>
                            <td>$@Model.Sum(b => b.Price * b.Count).ToString("0.00")</td>
                        </tr>
                        <tr>
                            <td>VAT (20 %)</td>
                            <td>$@Model.Sum(b => b.Price * b.Count * 0.2).ToString("0.00")</td>
                        </tr>
                        <tr class="total">
                            <td>Total</td>
                            <td class ="total-amount">$@Model.Sum(b => b.Price * b.Count * 1.2).ToString("0.00")</td>
                        </tr>
                    </table>
                </div>
            </div>
            <a asp-controller="Order" asp-action="CheckOut" class="btn d-block">Proceed Checkout</a>
        </div>
    </div>
</div>