@model PaginatedList<Product>

<div class="breadcrumb-area bg-img" data-bg="~/assets/img/banner/breadcrumb-banner.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap text-center">
                    <nav aria-label="breadcrumb">
                        <h1 class="breadcrumb-title">shop</h1>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller=Home asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">shop</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="shop-main-wrapper section-padding">
    <div class="container">
        <div class="row">
            <!-- sidebar area start -->
            <div class="col-lg-3 order-2 order-lg-1">
                <div class="sidebar-wrapper">
                    <!-- single sidebar start -->
                    <div class="sidebar-single">
                        <div class="sidebar-title"><h3>Categories</h3></div>
                        <div class="sidebar-body">
                            <ul class="color-list">
                                <li><a href="#">Mens <span>(10)</span></a></li>
                                <li><a href="#">Womens <span>(05)</span></a></li>
                                <li><a href="#">Sports <span>(15)</span></a></li>
                                <li><a href="#">Fabric <span>(12)</span></a></li>
                                <li><a href="#">Leather <span>(20)</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- single sidebar end -->

                    <!-- single sidebar start -->
                    <div class="sidebar-single">
                        <div class="sidebar-title"><h3>filter by price</h3></div>
                        <div class="sidebar-body">
                            <div class="price-range-wrap">
                                <div class="price-range" data-min="20" data-max="400"></div>
                                <div class="range-slider">
                                    <form action="#">
                                        <div class="price-input">
                                            <label for="amount">Price: </label>
                                            <input type="text" id="amount">
                                        </div>
                                        <button class="filter-btn">filter</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single sidebar end -->

                    <!-- single sidebar start -->
                    <div class="sidebar-single">
                        <div class="sidebar-banner">
                            <a href="#"><img src="~/assets/img/banner/banner_left.jpg" alt=""></a>
                        </div>
                    </div>
                    <!-- single sidebar end -->
                </div>
            </div>
            <!-- sidebar area end -->

            <!-- shop main wrapper start -->
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="shop-product-wrapper">
                    <!-- shop product top wrap start -->
                    <div class="shop-top-bar">
                        <div class="row">
                            <div class="col-xl-5 col-lg-4 col-md-3 order-2 order-md-1">
                                <div class="top-bar-left">
                                    <div class="product-view-mode">
                                        <a class="active" href="#" data-target="grid-view"><i class="fa fa-th"></i></a>
                                        <a href="#" data-target="list-view"><i class="fa fa-list"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-8 col-md-9 order-1 order-md-2">
                                <div class="top-bar-right">
                                    <div class="product-short">
                                        <p>Sort By : </p>
                                        <select class="nice-select" name="sortby">
                                            <option value="trending">Relevance</option>
                                            <option value="sales">Name (A - Z)</option>
                                            <option value="sales">Name (Z - A)</option>
                                            <option value="rating">Price (Low &gt; High)</option>
                                            <option value="date">Rating (Lowest)</option>
                                            <option value="price-asc">Model (A - Z)</option>
                                            <option value="price-asc">Model (Z - A)</option>
                                        </select>
                                    </div>
                                    <div class="product-amount">
                                        <p>Showing 1–16 of 21 results</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- shop product top wrap start -->

                    <!-- product item list start -->
                    <div class="shop-product-wrap grid-view row mbn-50">
                        @await Html.PartialAsync("_LoadMorePartial", Model)
                    </div>
                    <!-- product item list end -->

                    <!-- Load More Button-->
                    <a id="loadMoreBtn" asp-controller="Product" asp-action="LoadMore" asp-route-pageIndex="@(Model.CurrentPage + 1)"
                       data-maxPages="@ViewBag.MaxPages" class="btn btn-success d-flex py-2 mt-3">LOAD MORE</a>
                    <!-- Load More Button -->

                    <!-- start pagination area -->
                    <div class="paginatoin-area text-center mt-45">
                        <ul class="pagination-box">
                            @if (Model.HasPrev)
                            {
                                <li><a asp-controller="Product" asp-action="Index" asp-route-currentPage="@(Model.CurrentPage - 1)"><i class="ion-ios-arrow-left"></i></a></li>
                            }
                            @for (int i = Model.Start; i <= Model.End; i++)
                            {
                                <li class="@(Model.CurrentPage == i ? "active" : "")"><a asp-controller="Product" asp-action="Index" asp-route-currentPage="@i">@i</a></li>
                            }
                            @if (Model.HasNext)
                            {
                                <li><a asp-controller="Product" asp-action="Index" asp-route-currentPage="@(Model.CurrentPage + 1)"><i class="ion-ios-arrow-right"></i></a></li>
                            }
                        </ul>
                    </div>
                    <!-- end pagination area -->
                </div>
            </div>
            <!-- shop main wrapper end -->
        </div>
    </div>
</div>