@model IEnumerable<Product>

<section class="our-product section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2 class="title">Our Product</h2>
                    <p class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product-carousel-4 mbn-50 slick-row-15 slick-arrow-style">
                    @foreach (Product product in Model)
                    {
                        <div class="product-item mb-50">
                            <div class="product-thumb">
                                <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">
                                    <img src="~/assets/img/product/@product.MainImage" alt="">
                                </a>
                            </div>
                            <div class="product-content">
                                <h5 class="product-name">
                                    <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">@product.Title</a>
                                </h5>
                                <div class="price-box">
                                    @if (product.Discount > 0)
                                    {
                                        <span class="price-regular">$@((product.Price * (100 - product.Discount) / 100).ToString("0.00"))</span>
                                        <span class="price-old"><del>$@product.Price.ToString("0.00")</del></span>
                                    }
                                    else { <span class="price-regular">$@product.Price.ToString("0.00")</span> }
                                </div>
                                <div class="product-action-link">
                                    <a href="#" data-toggle="tooltip" title="Wishlist"><i class="ion-android-favorite-outline"></i></a>
                                    <a asp-controller="Basket" asp-action="AddBasket" asp-route-id="@product.Id" data-toggle="tooltip" title="Add To Cart"><i class="ion-bag"></i></a>
                                    <a asp-controller="Product" asp-action="Modal" asp-route-id="@product.Id" class="modal-btn" data-toggle="modal" data-target="#quick_view">
                                        <span data-toggle="tooltip" title="Quick View"><i class="ion-ios-eye-outline"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>